{% extends "bootstrap/base.html" %}
{% block title %} Index Page {% endblock %}

{% block header %}
<form id="search_form" class="form-inline" role="form">	
	<div class="checkbox">
		<input type="radio" name="startwith" id="ct180" value="180">
		<label for="ct180">180</label>
	</div>
	<div class="checkbox">
		<input type="radio" name="startwith" id="ct181" value="181"> 
		<label for="ct181">181</label>
	</div>
	<div class="checkbox">
		<input type="radio" name="startwith" id="ct189" value="189"> 
		<label for="ct189">189</label>
	</div>
	<div class="checkbox">
		<input type="radio" name="startwith" id="ct133" value="133"> 
		<label for="ct133">133</label>
	</div>
	<div class="checkbox">		
		<input type="radio" name="startwith" id="ct153" value="153"> 	
		<label for="ct153">153</label>
	</div>
	<div class="form-group">
		<label class="sr-only" for="customeStartWith">自定义</label>
		<input type="text" id="customeStartWith" class="form-control" name="customeStartWith" placeholder="自定义"/>
	</div>
	<div class="checkbox">		
		<input type="checkbox" name="notFour" id="notFour" value="4">
		<label for="notFour">不含4</label>		
	</div>
	<div class="checkbox">
		<input type="checkbox" name="freenum" id="freenum" value="0">					
		<label for="freenum">0元号码</label>		
	</div>
	<div class="form-group">
		<label class="sr-only" for="endwith">自定义</label>
		<input type="text" id="endwith" class="form-control" name="endwith" placeholder="自定义搜索" />
	</div>
	<button class="btn btn-primary" id="start_search()">搜索号码</button>	
</form>
{% endblock %}
<hr />
{% block content %}

{% endblock %}